h1 {
    color: yellow; 
    background-color: rgb(101, 87, 114); 
    padding: auto; 
    text-align: center;
    margin: 20px 30% 0px 30%; 
    /* margin-top: 20px;  */
    /* margin-left: 30%;  */
    /* margin-right: 30%;" */
}